<div class="col-lg-6 col-lg-offset-3">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			<h4>Hello, User! Thanks for visiting the new NI&amp;S Online Ordering Tool</h4>
		</div>
		<div class="panel-body text-center">

			  <p>Before we get started, tell us what kind of experience you prefer<br>
			  <small>(Don't sweat it, you can always change these settings later)</small></p>

			<div class="row">
				<div class="col-lg-4">
					<div class="btn btn-lg btn-danger btn-block" ng-class="{'active': setup.experience == 'unlocked'}" ng-click="setup.experience = 'unlocked'">
				        <div>
					        <i class="fa fa-unlock fa-2x pull-left"></i>
					        <span>Unlocked<br><small>Power Users</small></span>
				        </div>
					</div> 
				</div>

				<div class="col-lg-4">
					<div class="btn btn-lg btn-info btn-block" ng-class="{'active': setup.experience == 'standard'}" ng-click="setup.experience = 'standard'">
				        <div>
					        <i class="fa fa-user fa-2x pull-left"></i>
					        <span>Standard<br><small>Average Users</small></span>
				        </div>
					</div> 
				</div>
				
				<div class="col-lg-4">
					<div class="btn btn-lg btn-success btn-block" ng-class="{'active': setup.experience == 'guided'}" ng-click="setup.experience = 'guided'">
				        <div>
					        <i class="fa fa-map-marker fa-2x pull-left"></i>
					        <span>Guided<br><small>New/Light Users</small></span>
				        </div>
					</div> 
				</div>
			</div>
			<div class="well" ng-switch="setup.experience">
	  			<p ng-switch-when="unlocked">
	  				<strong>You chose the Unlocked experience. </strong><br>
	  				You'll start with the full dashboard<br>
	  				We'll always show you the advanced options<br>
	  				You'll never see a wizard (merlin or otherwise)<br>
	  				You should choose this option if you were an ICR pro and you like to see EVERYTHING.
	  			</p>
	  			<p ng-switch-when="standard">
	  				<strong>You chose the Standard experience. </strong><br>
	  				We'll let you loose on the tool, but hide away the advanced stuff until you ask for it.<br>
	  				This is a good option if you used the ICR application frequently, but rarely asked for anything crazy.
	  			</p>
	  			<p ng-switch-when="guided">
	  				<strong>You chose the Guided experience. </strong><br>
	  				We'll walk you through the ordering process one step at a time!<br>
	  				We'll start you off with a simple task list, and use an ordering wizard to make sure you're comfortable<br>
	  				If you're not sure about how to order from NI&amp;S, or ICR gave you nightmares, this option is for you.<br>
	  			</p>
	  			<p ng-switch-default>
		  			Choose from one of the options above. If you aren't sure, we'd recommend the Guided Experience.
		  		</p>
			</div>
		</div>
		<div class="panel-footer">
			<button 
				class="btn btn-success pull-right" 
				type="button"
				ng-click="setup.saveUserExperience(setup.experience)" 
				ng-disabled="!setup.experience">Get Started!</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>