<div flex layout="column" layout-align="center center">
	<div id="panel">
		
			<md-toolbar flex>
				<div class="md-toolbar-tools">
					Before we get started, choose your ordering experience
				</div>
			</md-toolbar>
		
		<div layout="row">
			<md-content flex class="md-whiteframe-z1 text-center" layout-padding>
				
				<div id="selection">
					<div layout="row" layout-align="space-around">
						<!-- PRICE ITEM -->
						<div class="panel price panel-green">
							<div class="panel-body text-center">
								<i class="fa fa-unlock fa-5x"></i>
								<h2>Unlocked</h2>
							</div>
							<ul class="list-group list-group-flush text-center">
								<li class="list-group-item">Dashboard Default</li>
								<li class="list-group-item">One Page Ordering</li>
								<li class="list-group-item">Recommended for Power Users</li>
							</ul>
							<div class="panel-footer">
								<a class="btn btn-lg btn-block btn-success" href="#">Let's Go!</a>
							</div>
						</div>
						<!-- /PRICE ITEM -->
						<!-- PRICE ITEM -->
						<div class="panel price panel-blue">
							
							<div class="panel-body text-center">
								<i class="fa fa-map-marker fa-5x"></i>
								<h2>Guided</h2>
							</div>
							<ul class="list-group list-group-flush text-center">
								<li class="list-group-item">Task List Default</li>
								<li class="list-group-item">Guided Ordering</li>
								<li class="list-group-item">Recommended for Newer Users</li>
							</ul>
							<div class="panel-footer">
								<a class="btn btn-lg btn-block btn-primary" href="#">Show Me The Way!</a>
							</div>
						</div>
						<!-- /PRICE ITEM -->
					</div>
					<p >Don't worry, you can change these settings later. Just look for the <i class="fa fa-cog"></i> symbol to change your user settings.</p>
				</div>
			</md-content>
		</div>
	</div>
</div>