
<fieldset>
	<legend><h2>Service Configuration</h2></legend>
    	<form-field label="'Expedite'" help-text="'Expediting orders costs $50, but gets things done faster. Money Talks.'">
    		<input type="checkbox">
    	</form-field>
    	<form-field label="'User'" help-text="'help'">
    		<input type="text" class="form-control" placeholder="VT Employee Name">
    	</form-field>
    	<form-field label="'Calling Name'" help-text="'help'">
    		<input type="text" class="form-control" placeholder="Calling Name">
    	</form-field>
    	<form-field label="'Calling Privilege'" help-text="'help'">
    		<select class="form-control">
    			<option>1</option>
    		</select>
    	</form-field>
    	<form-field label="'Call Waiting'" help-text="'help'">
    		<input type="checkbox">
    	</form-field>
    	<form-field label="'Unified Messaging'" help-text="'help'">
    		<input type="checkbox">
    	</form-field>
</fieldset>

<fieldset>
	<legend><h2>Advanced Configuration</h2></legend>
	<fieldset>
		<legend>Caller ID</legend>
		<form-field label="'On System'" help-text="'Help'">
    		<input type="text" class="form-control">
    	</form-field>
		<form-field label="'Off System'" help-text="'Help'">
    		<input type="text" class="form-control">
    	</form-field>
	</fieldset>
	<fieldset>
		<legend>Call Coverage</legend>
		<div class="col-lg-12 form-group">
			<div class="col-lg-3 text-right">After</div>
			<div class="col-lg-2">
				<select class="form-control">
	    			<option>1</option>
	    		</select>
    		</div>
    		<div class="col-lg-3">rings, send calls to </div>
			<div class="col-lg-4 text-right"><input type="text" class="form-control" placeholder="5 digit extension"></div>
		</div>
		<div class="col-lg-12 form-group">
			<div class="col-lg-3 text-right">After</div>
			<div class="col-lg-2">
				<select class="form-control">
	    			<option>1</option>
	    		</select>
    		</div>
    		<div class="col-lg-3">rings, send calls to </div>
			<div class="col-lg-4 text-right"><input type="text" class="form-control" value="Unified Messaging" placeholder="5 digit extension"></div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Unified Messaging</legend>
		<form-field label="'Mobile Name'" help-text="'Help'">
    		<input type="text" class="form-control">
    	</form-field>
		<form-field label="'Personal Attendant'" help-text="'Help'">
    		<input type="text" class="form-control">
    	</form-field>
		<form-field label="'Email Address For Fax Delivery'" help-text="'Help'">
    		<input type="text" class="form-control">
    	</form-field>
    	<form-field label="'Message Blocking'" help-text="'help'">
    		<select class="form-control">
    			<option>1</option>
    		</select>
    	</form-field>
    	<form-field label="'SMS Notification'" help-text="'help'">
    		<select class="form-control">
    			<option>None</option>
    			<option>Urgent Messages</option>
    			<option>All Messages</option>
    		</select>
    	</form-field>
	</fieldset>
</fieldset>

<fieldset>
	<legend>Device</legend>
	Existing Phone <br>
	<form-field label="'Existing Phone'" help-text="'help'">
		<input type="checkbox">
	</form-field>
	<form-field label="'High Availability'" help-text="'help'">
		<input type="checkbox">
	</form-field>
	<form-field label="'Analog'" help-text="'help'">
		<input type="checkbox">
	</form-field>
	<form-field label="'Phone Model'" help-text="'help'">
    		<select class="form-control">
    			<option>1</option>
    		</select>
    	</form-field>
</fieldset>

<fieldset>
	<legend>Connectivity</legend>
	<form-field label="'Building'" help-text="'help'">
		<select class="form-control">
			<option>1</option>
		</select>
	</form-field>
	<form-field label="'Room'" help-text="'help'">
		<select class="form-control">
			<option>1</option>
		</select>
	</form-field>
	<form-field label="'Outlet'" help-text="'help'">
		<select class="form-control">
			<option>1</option>
		</select>
	</form-field>
</fieldset>
			
