	<div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <i class="fa fa-users fa-2x"></i><br/>Employees
                </a>
                <a href="#" class="list-group-item text-center">
                  <i class="fa fa-unlock fa-2x"></i><br/>Services
                </a>
                <a href="#" class="list-group-item text-center">
                  <i class="fa fa-unlock fa-2x"></i><br/>Orders
                </a>
                <a href="#" class="list-group-item text-center">
                  <i class="fa fa-unlock fa-2x"></i><br/>Restaurant
                </a>
               
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
               <div class="list-group active">
				  <a href="#" class="list-group-item ">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Something else and some more things that I thought were good fake text.</p>
				  </a>
				  <a href="#" class="list-group-item ">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Something else and some more things that I thought were good fake text.</p>
				  </a>
				  <a href="#" class="list-group-item ">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Something else and some more things that I thought were good fake text.</p>
				  </a>
				</div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                    </center>
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                    </center>
                </div>
            </div>
        </div>